*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: black;
    color:white;
    padding: 15px;
}
li,h1,ul{
    display:inline;
}
ul{
    margin-left: 60%;
}
li{
    color: gray;
    cursor: pointer;
}
li:hover{
    color: white;
}
input{
    width: 60%;
    padding: 15px;
}
.searchbar{
    padding: 50px;
    text-align: center;
}
.box1{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    width: 220px;
}
.box2{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    width: 220px;
}
.box3{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    width: 220px;
}
.products{
    text-align: center;
}
.box1:hover,.box2:hover,.box3:hover{
    background-color:black;
    color: white;
    cursor: pointer;
}
.about{
    text-align: center;
    margin-top: 20px;
    padding: 20px;
}
.contact{
    background-color: pink;
    color: black;
    text-align: center;
    padding: 20px;
}
